@model  BuscaPizza.Models.Cliente
@using BuscaPizza.Models
@{
    Layout = "~/Views/LayoutPage.cshtml";
    ViewBag.Title = "Minha Endereço";
    Cliente cliente = (Cliente)Session["cliente"];
    var a = 0;
}
<header>
    <nav class="navbar navbar-expand-md barra">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- Linkar com a página minha conta cliente -->
                    <a class="nav-link" href="/Carrinho/Carrinho">
                        <img src="~/img/Voltar.png" class="botao">
                    </a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <p class="navbar-brand mx-auto titulo">Busca Pizza</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <p class="nav-link"></p>
                </li>
                <li class="nav-item">
                    <p class="nav-link"></p>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br />
<h3 align="center">Meus endereços</h3>
<br>
<div class="container-fluid">
    <div class="row">
        @foreach (var end in ViewBag.Endereco)
        {

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="card-title">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @{a++;}
                                    <h6>Endereço @a</h6>
                                </div>
                            </div>
                        </div>
                        <a class="card-text">
                            <label>CEP: @end.CEP</label>
                            <br>
                            <label>Logradouro: @end.logradouro </label>
                            <br />
                            <label>Numero: @end.numero</label>
                            <br />
                            <label>Complemento: @end.complemento</label>
                            <br />
                            <label>Bairro:@end.bairro</label>
                            <br />
                            <label>Cidade: @end.Cidade (@end.UF)</label>
                            <br />
                            <a class="btn btn-outline-success" href="/Carrinho/Pagamento/@end.id_endereco">Prosseguir</a>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


